.cameras_list{
  display: grid;
  grid-template-columns: repeat(3, 70px);
  grid-template-rows: repeat(1, 70px);
  justify-content: center;
  grid-gap: 40px 40px;
  margin: 40px 0;
}

.cameras_item,
.cameras_item_btn{
  display: block;
  width: 100%;
  height: 100%;
}