.controller{
  position: relative;
  padding-top: 40px;
}

.timer{
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
  background-color: grey;
  color: white;
  font-weight: bold;
}

.order{
  text-align: center;
}