[data-page="count"] {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 200;
  // background: $background, radial-gradient(ellipse at center, #ffffff 60%, #000000 100%);
  // background-blend-mode: multiply;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //background: url('./assets/images/Pattern.svg') repeat;
    background-size: 40px 40px;
    opacity: 0.5;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    h1 {
      @extend .text;
      font-size: 20px;
      font-family: 'Chakra Petch', sans-serif;
    }

    .count {
      @extend .text;
      position: relative;
      margin-top: 60px;
      font-family: 'Bai Jamjuree', sans-serif;
      overflow: hidden;
      height: 200px;

      h1 {
        font-size: 77px;
      }

      .outer, .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        height: 77px;
      }

      .inner {
        opacity: 0;
        transform: translate3d(0, 77px, 0);
      }
    }
  }


  .instructions {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    text-align: center;

    h2 {
      @extend .text;
      font-family: 'Chakra Petch', sans-serif;
      font-size: 14px;
      padding: 0 20px;
    }
  }
}
