#menu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  height: 120px;
  width: 100%;

  .menu_title {
    div {
      display: block;
      text-align: center;
      margin: 0 auto -2px;
      width: 160px;
      position: relative;
      // background: $background;
      &:before, &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: 2px;
        width: 24vw;
        height: 1px;
        background-color: #fff;
      }
      &:before{
        left: 0;
        transform: translateX(-100%);
      }
      &:after{
        right: 0;
        transform: translateX(100%);
      }
    }
    span {
      @extend .text;
      padding: 8px 34px;
      font-family: 'Bai Jamjuree', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      border-top: 1px solid #ffffff;
      // background: $background;
      height: 32px;

      &::before {
        position: absolute;
        content: '';
        display: block;
        top: -13px;
        left: 11px;
        bottom: 0;
        height: 35px;
        width: 1px;
        background-color: #ffffff;
        transform: rotate(45deg);
      }

      &::after{
        position: absolute;
        content: '';
        display: block;
        top: -13px;
        right: 11px;
        bottom: 0;
        height: 35px;
        width: 1px;
        background-color: #ffffff;
        transform: rotate(-45deg);
      }
    }
  }

  .menu_items {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 90%;
    height: 88px;
    margin: 0 auto;
    border-top: 1px solid transparent;
    z-index: -1;

    .badge {
      @extend .text;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      background-color: #F00;
      top: calc(50% - 23px);
      right: calc(50% - 50px);
      transform: translate(-50%, -50%);
      font-family: 'Bai Jamjuree', sans-serif;
      font-size: 14px;
      box-shadow: 0px 0px 5px #f00;
      z-index: 2;
    }

    .menu_item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33%;

      &:not(.menu_item-active) {
        span {
          filter: brightness(0.5);
        }
      }

      &.menu_item-on {
        span {
          overflow: hidden;
          &::before {
            content: '';
            position: absolute;
            top: -15px;
            left: -15px;
            height: 28px;
            width: 28px;
            background-color: #000;
            transform: rotate(45deg);
          }
        }
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 55px;
        height: 55px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 5px #ffffff;

        img {
          pointer-events: none;
        }

        &.menu_phone img {
          width: 27px;
          height: 27px;
        }

        &.menu_app img {
          width: 30px;
          height: 32px;
        }

        &.menu_envelope img {
          width: 27px;
          height: 17px;
        }
      }
    }
  }
}

[data-page] {
  body:not(.experience-losing) &{
    padding-bottom: 130px;
  }
}
