.page_end{
  & .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  & header{
    margin-top: 45px;
    & h1{
      @extend .text;
      font-family: 'Bai Jamjuree', sans-serif;
      font-size: 52px;
      letter-spacing: 5px;
    }
  }
  & main{
    margin: 110px 0;
  }
  & p{
    line-height: 34px;
  }
  & .links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    & span{
      @extend .text;
      margin: 0 15px;
    }
  }
}