$borders: (
  'left': (5px 0 5px -5px, inset -5px 0 5px -5px),
  'right': (-5px 0 5px -5px, inset 5px 0 5px -5px),
  'top': (0 -5px 5px -5px, inset 0 5px 5px -5px),
  'bottom': (0 5px 5px -5px, inset 0 -5px 5px -5px)
);

@function shadow-border($types, $color) {
  $box-shadow: '';
  @for $i from 1 through length($types) {
    $faces: map_get($borders, nth($types, $i));
    @for $k from 1 through length($faces) {
      $box-shadow: $box-shadow + nth($faces, $k) + ' ' +  $color;
      @if($k < length($faces)) {
        $box-shadow: $box-shadow + ', ';
      }
    }
    @if($i < length($types)) {
      $box-shadow: $box-shadow + ', ';
    }
  }
  @return unquote($box-shadow + ';');
}

.c {
  box-shadow: shadow-border((left, right), red);
}