#pause {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;

  & .list-actions {
    margin-top: 60px;
    transition: transform .3s ease-in, opacity .3s ease-in;
    transform: translate(0, 50px);
    opacity: 0;
    .paused &{
      opacity: 1;
      transform: translate(0, 0);
    }
    & li:not(:first-child){
      margin: 55px 0;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #fff;

    font-family: 'Bai Jamjuree', sans-serif;

    h1 {
      text-transform: uppercase;
      font-size: 40px;
      text-align: center;
      letter-spacing: 8px;
      margin-bottom: 150px;
      text-shadow: 0 0 5px #ffffff;
      font-weight: 700;
      cursor: pointer;
      opacity: 0;
      transition: transform .3s ease-in, opacity .3s ease-in;
      transform: translate(0, -50px);
      .paused &{
        opacity: 1;
        transform: translate(0, 0);
      }
    }

    span {
      text-align: center;
      font-size: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

[data-page] {
  transition: filter .3s ease-in;
}

body.paused {
  [data-page] {
    filter: blur(8px);
  }

  #pause {
    visibility: visible;
  }
}

#pause, .introduction .inner {
  .sound-controls {
    position: absolute;
    top: 40px;
    right: 40px;

    .sound {
      display: flex;
      align-items: center;
      justify-content: center;
      @extend .text;
      font-family: 'Bai Jamjuree', sans-serif;
      font-size: 17px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

.introduction .inner .sound-controls {
  top: 0;
}


.pause_icon{
  display: block;
  position: relative;
  right: 5px;
  width: 9px;
  height: 12px;
  border: solid 2px #121C1D;
  border-top: transparent;
  border-bottom: transparent;
  &_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 34px;
    margin-left: 19px;
    cursor: pointer;
    background-color: #e0e0e0;
    background-size: 100% 100%;
    &:before, &:after{
      content: '';
      position: absolute;
      left: 0;
      background-color: #e0e0e0;
    }
    &:before{
      top: 0;
      width: 18px;
      height: 18px;
      transform: translate(-100%);
    }
    &:after{
      bottom: 6px;
      left: 8px;
      width: 24px;
      height: 18px;
      transform: translate(-100%) rotate(40deg);
    }
  }
}
