.experience {
  position: relative;
  &-losing {
    .camera_text {
      display: none
    }
    .camera_label {
      display: none
    }
    .camera_center {
      display: none
    }
    .camera_timer {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.camera_text {
  display: flex;
  align-items: center;
  position: absolute;
  top: 70px;
  right: 70px;
  color: white;
  font-family: 'Bai Jamjuree', sans-serif;
}

.camera_icon {
  display: inline-block;
  width: 23px;
  height: 23px;
  box-shadow: 0 0 7px 0 red;
  background-color: red;
  border-radius: 50%;
  margin-left: 16px;

  animation-name: RecAnimation;
  animation-timing-function: step-start;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-direction: alternate;
}

.camera_corner {
  position: absolute;
  width: 56px;
  height: 56px;
  border: 2px solid #fff;
  margin: 40px;
  &:nth-child(2) {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    box-shadow: 0 -5px 5px -5px #fff,
    -5px 0 5px -5px #fff,
    inset 0 5px 5px -5px #fff,
    inset 5px 0 5px -5px #fff;
  }
  &:nth-child(3) {
    bottom: 0;
    left: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    box-shadow: 0 5px 5px -5px #fff,
    -5px 0 5px -5px #fff,
    inset 0 -5px 5px -5px #fff,
    inset 5px 0 5px -5px #fff;
  }
  &:nth-child(4) {
    top: 0;
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
    box-shadow: 0 -5px 5px -5px #fff,
    5px 0 5px -5px #fff,
    inset 0 5px 5px -5px #fff,
    inset -5px 0 5px -5px #fff;
  }
  &:nth-child(5) {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    box-shadow: 0 5px 5px -5px #fff,
    5px 0 5px -5px #fff,
    inset 0 -5px 5px -5px #fff,
    inset -5px 0 5px -5px #fff;
  }
}

.camera_label {
  position: absolute;
  left: 50%;
  bottom: 70px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 5px #ffffff;
  font-family: 'Bai Jamjuree', sans-serif;
  transform: translateX(-50%);
}

.camera_label span {
  margin-left: 5px;
}

.camera_help {
  @extend .text;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Chakra Petch', sans-serif;
  font-size: 18px;
  width: 100%;
}

.camera_timer {
  position: absolute;
  top: 70px;
  left: 50%;
  color: #fff;
  text-shadow: 0 0 5px #ffffff;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 6px;
  transform: translateX(-50%);
  transition: transform .3s ease;
  .experience-losing &{
    transform: translate(-50%, -20px);
  }
}

.camera_center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  &:after, &:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FF0000;
  }
  &:before {
    width: 1px;
    height: 100%;
  }
  &:after {
    width: 100%;
    height: 1px;
  }
  &-active{
    &:after, &:before {
      background-color: #00FF0A;
    }
    & .camera_center_border{
      background-color: #00FF0A;
      box-shadow: 0 0 4px 0 rgba(0, 255, 10, 0.70);
      &:after, &:before{
        background-color: #00FF0A;
        box-shadow: 0 0 4px 0 rgba(0, 255, 10, 0.70);
      }
    }
  }
}

.camera_center_border{
  position: absolute;
  top: 50%;
  height: calc(200% - 6px);
  width: 2px;
  background-color: #FF0000;
  transform: translateY(-50%);
  box-shadow: 0 0 4px 0 rgba(255, 0, 0, 0.7);
  &:after, &:before{
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 6px;
    background-color: #FF0000;
    box-shadow: 0 0 4px 0 rgba(255, 0, 0, 0.7);
  }
  &:after{
    bottom: 0;
  }
  &:before{
    top: 0;
  }
  &-left{
    left: -50px;
    &:before{
      transform: translate(2px, calc(-100% + 1px)) rotate(45deg);
    }
    &:after{
      transform: translate(2px, calc(100% - 1px)) rotate(-45deg);
    }
  }
  &-right{
    right: -50px;
    &:before{
      transform: translate(-2px, calc(-100% + 1px)) rotate(-45deg);
    }
    &:after{
      transform: translate(-2px, calc(100% - 1px)) rotate(45deg);
    }
  }
}

@keyframes RecAnimation {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
