[data-page="loader"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loader_value{
  @extend .text;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  font-family: 'Bai Jamjuree', sans-serif;
  transform: translate(-50%, calc(-50% + 80px));
}

#loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 90%;
  height: 200px;
  transform: translateY(-50%);

  .loader-black {
    height: 100%;
    width: 100%;
  }

  .loader-white {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 0;
    overflow: hidden;
    img {
      width: 90vw;
    }
  }
}
