$background: url('./assets/images/MotifBG.jpg') repeat;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .app {
  width: 100%;
  height: 100%;
}

html, body {
  position: fixed;
  overflow: hidden;
}

body{
  background-color: #1d2f42;
}

ul, li{
  list-style: none;
}

.app {
  position: relative;
  z-index: 1;
  font-family: 'Chakra Petch', sans-serif;
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(92%) blur(0.3px);
  background: $background, radial-gradient(ellipse 70% 85%, rgb(214, 214, 214) 38%, rgba(107, 107, 107, 0.44) 54%, #000 107%);
  background-blend-mode: multiply;
  opacity: 0.7;
  pointer-events: none;
  z-index: -1;
  &-opac{
    opacity: 1;
  }
  &:before, &:after {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &:before {
    background: url("./assets/images/Pattern.svg") repeat;
    background-size: 50px 50px;
    opacity: 0.7;
  }
}

.text {
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff;
}
